@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gelion";
  src: url("../fonts/Gelion/Gelion-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Gelion";
  src: url("../fonts/Gelion/Gelion-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/Red Hat Display/RedHatDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media (max-width: 800px) {
    font-size: 50%;
  }
}

body {
  font-family: "Gelion", -apple-system,
    /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: #4b4f51;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
