.footer {
  &__input {
    &-container {
      width: 50rem;
      border-radius: 6.5rem;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);

      @media (max-width: 768px) {
        width: 35rem;
      }
    }
  }
}
