.hero {
  background-image: linear-gradient(0deg, transparent, rgba(251, 76, 71, 0.1));

  &__heading {
    &-secondary {
      width: 50rem;

      @media (max-width: 768px) {
        width: auto;
      }
    }
  }

  &__img {
    width: 80rem;
  }
}
